//--------------------------------------------
//----------------- Custom CSS ---------------
//--------------------------------------------

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

html {
  font-family: "Montserrat", sans-serif;
}

a::hover {
  color: blue;
}

--color-dark-blue {
  color: #0d253f;
}
//------------------ Top Nav -----------------
.top a {
  max-width: 50%;
}

.top img {
  max-width: 75%;
}

// Override the default Bootstrap values.
.navbar-expand-md .navbar-nav .nav-link {
  padding-right: 1rem !important;
  padding-left: 1rem !important;
}

//------------------ Banner ------------------

.banner {
  min-height: calc(100vh - 10.625rem);
}

//------------------ Carousel ------------------

.banner {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../images/leone-venter-VieM9BdZKFo-unsplash.jpg");
}

.toggle {
  opacity: 0;
}

.carousel .carousel-item {
  min-height: 40rem;
}

.carousel-item img {
  min-height: 50rem;
  object-fit: cover;
}

//----------------- Experience -----------------
.experience {
  padding: 2rem 4rem;
}

.experience-body {
  flex-grow: 1;
}

.flexSizing {
  display: flex;
  flex-wrap: wrap;
}
.experience-body {
  flex: 1 1 15rem;
}

//-------------- Project Content ---------------
.projectContent {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.projectCard {
  max-width: 40rem;
}

.btnBlue {
  background-color: var(--color-dark-blue);
  border-color: var(--color-dark-blue);
  color: white;
}

.btnBlue::hover {
  background-color: var(--color-dark-blue);
}

//------------------ Form --------------------

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.message {
  height: 5rem;
}

//------------------ Footer ------------------

.bottomNav {
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
  // margin-top: 2rem;
}

.bottomNav a {
  color: white;
  text-decoration: none;
  justify-content: center;
}

.socials,
.name {
  display: flex;
  justify-content: center;
  align-items: center;
}

.socials i {
  font-size: 1.2rem;
  padding: 0.5rem;
}

.socials:hover,
.social:focus {
  color: blue;
}

a:hover {
  color: blue;
}

@media only screen and (min-width: 37.5em) {
  //------------------ Top Nav ------------------

  //------------------ Carousel ------------------
  .toggle {
    opacity: 1;
  }

  //----------------- Experience -----------------
  .experience {
    padding: 2rem 4rem;
  }

  h3 {
    padding: 2rem;
  }

  .top img {
    min-width: 25%;
    max-width: 50%;
  }

  //------------------- Footer -------------------
}

@media only screen and (min-width: 62em) {
  //------------------ Top Nav ------------------

  //------------------ Carousel ------------------

  //----------------- Experience -----------------
  .experience {
    padding: 4rem 6rem;
  }

  //------------------- Footer -------------------
}
