//--------------------------------------------
//----------------- Custom CSS ---------------
//--------------------------------------------

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

html {
  font-family: "Montserrat", sans-serif;
}

--color-dark-blue {
  color: #0d253f;
}
//-------------- Accessibility ---------------
.skip-links a:focus {
  top: 0;
  transition: 0.5s;
}
//------------------ Top Nav -----------------
.top a {
  max-width: 50%;
}

.top img {
  max-width: 75%;
}

// Override the default Bootstrap values.
.navbar-expand-md .navbar-nav .nav-link {
  padding-right: 1rem !important;
  padding-left: 1rem !important;
}

//---------------- Form Banner -----------------

.minHeight {
  min-height: calc(100vh - 7rem);
}

//---------------- Home Banner -----------------

// .customContainer {
//   padding: 1rem 5rem 1rem 1rem;
// }

.embedded {
  background-image: url("../images/roman-bozhko-PypjzKTUqLo-unsplash.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 50rem;
  max-height: 60rem;
  // padding: 4rem 1rem;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(6, 1fr);
}

.bannerContent {
  grid-column-start: 2;
  grid-column-end: 10;
  grid-row-start: 2;
}

.bannerContent img {
  width: 100%;
  max-width: 10rem;
  transform: translateX(-100rem);
  animation: slideIn 0.5s 1s forwards;
}

.bannerContent h2 {
  font-size: 3rem;
  transform: translateX(-100rem);
  animation: slideIn 0.8s 1s forwards;
}

.bannerContent p {
  font-size: 1.5rem;
  transform: translateX(-100rem);
  animation: slideIn 1s 1s forwards;
}

@keyframes slideIn {
  from {
    transform: translateX(-60rem);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

//----------------- Experience -----------------

.flexSizing {
  display: flex;
  flex-wrap: wrap;
}
.flex-body {
  flex: 1 1 15rem;
}
//-------------- Project Content ---------------
.projectContent {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.projectCard {
  max-width: 40rem;
}

.btnBlue {
  background-color: var(--color-dark-blue);
  border-color: var(--color-dark-blue);
  color: white;
}

.btnBlue::hover {
  background-color: var(--color-dark-blue);
}

//------------------ Form --------------------

.banner {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../images/leone-venter-VieM9BdZKFo-unsplash.jpg");
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.message {
  height: 5rem;
}

//------------------ Footer ------------------

.bottomNav {
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
}

.bottomNav a {
  color: white;
  text-decoration: none;
  justify-content: center;
}

.socials,
.name {
  display: flex;
  justify-content: center;
  align-items: center;
}

.socials i {
  font-size: 1.2rem;
  padding: 0.5rem;
}

.hover:hover {
  color: var(--bs-primary) !important;
  transition: 1s;
}

@media only screen and (min-width: 37.5em) {
  //------------------ Top Nav ------------------

  //----------------- Home Banner ----------------
  .bannerContent {
    grid-column-end: 8;
  }
  .bannerContent img {
    width: 100%;
    max-width: 10rem;
  }

  .bannerContent h2 {
    font-size: 5rem;
  }

  //----------------- Experience -----------------

  .projectContent {
    display: flex;
    flex-direction: row;
  }

  //----------------- Form Banner -----------------
  .minHeight {
    min-height: calc(100vh - 8.5rem);
  }

  //------------------- Footer -------------------
}

@media only screen and (min-width: 62em) {
  //------------------ Top Nav ------------------

  //---------------- Home Banner ----------------
  .bannerContent {
    grid-column-end: 8;
  }

  //----------------- Experience ----------------

  //------------------- Footer ------------------
}
